.DS_Store
.decontam_human.json
config.yaml
config.yml
configs/config*.yml
.snakemake
\#*
output
__pycache__
tests/data/hosts/*.fasta.*
tests/data/raw/*.fasta.*
tests/sunbeam_output
tests/bacteria
tests/local
tests/data_files
configs/respublica_config.yml
*.egg-*
docs/_build
extensions/*
!extensions/.placeholder
build
projects/
.vscode/
