.DS_Store
.decontam_human.json
config.yaml
config.yml
configs/config*.yml
configs/cluster.json
.snakemake
\#*
*.fastq.gz
output
__pycache__
tests/sunbeam_output
tests/bacteria
tests/local
tests/data_files
configs/respublica_config.yml
*.yml
*.yaml
*.egg-*
