snakemake=3.13.0
ruamel.yaml
biopython
trimmomatic
fastqc
blast
CLARK
kraken=1.0
krona
kraken-biom
pear
vsearch
bwa
bowtie2
jellyfish=1.1.11=1
cutadapt
pysam
pandas
megahit
cap3
prodigal
semantic_version
setuptools_scm
bbmap
